@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/poppins";
@import "@fontsource/poppins/300.css"; 
@import "@fontsource/poppins/600.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
